{% extends 'base.html.twig' %}

{% block title %}Weather History Search!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("build/components/weather/history.css") }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="wrapper">
    <a href="{{ path('weather') }}">Map</a>
    <div id="weather-history">
    </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('build/components/weather/history.js') }}"></script>
        <script type="text/javascript">
            ReactDOM.render(
                React.createElement(WeatherHistory, null, null),
                document.getElementById('weather-history')
            );
        </script>
    {% endblock %}
