{% extends 'base.html.twig' %}

{% block title %}Weather Map!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("build/components/weather/map.css") }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="wrapper">
    <a href="{{ path('weather_history') }}">Weather history</a>
   <div id="weather-map">
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/components/weather/map.js') }}"></script>
    <script type="text/javascript">
        ReactDOM.render(
            React.createElement(WeatherMap, null, null),
            document.getElementById('weather-map')
        );
    </script>
{% endblock %}
